@charset "UTF-8";
:root {
  --main-title-color: #ffffff;
  --second-title-color: #2f303a;
  --first-text-color: #ffffff;
  --second-text-color: #212121;
  --third-text-color: #757575;
  --fourth-text-color: #212121;
  --six-text-color: rgba(255, 255, 255, 0.6);
  --first-button-color: #ffffff;
  --second-button-color: #2196f3;
  --first-header-text-color: #2196f3;
  --second-header-text-color: #212121;
  --transition: 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Снятие точек со списка */
.list {
  list-style: none;
}

/* Снятие подчеркивания со списка */
.link {
  text-decoration: none;
}

/* Доминантный на макете шрифт */
body {
  font-family: Roboto, sans-serif;
  background-color: var(--main-title-color);
  color: var(--fourth-text-color);
  letter-spacing: -0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

.comand__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .comand__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  background: var(--second-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  transition: 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.hero-btn:hover, .hero-btn:focus {
  color: --first-button-color;
  background-color: --first-button-color;
}

.hero-btn-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  background: var(--second-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  transition: 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  margin-top: 30px;
}

.backdrope {
  width: 100vw;
  height: 100vh;
  background-color: rgba(105, 105, 105, 0.301);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 250ms, visibility 250ms;
}
.backdrope.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  padding: 40px;
  max-width: 450px;
  width: 100%;
  min-height: 609px;
  background-color: var(--main-title-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms;
  box-sizing: border-box;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    max-width: none;
    min-height: 581px;
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--second-button-color);
}
.modal-close:hover, .modal-close:focus {
  fill: currentColor;
  border: 1px solid var(--accent-color);
}

.icon-close {
  position: absolute;
}

.backdrope.is-hidden.modal {
  transform: scale(1.5);
}

/*--------Для скрытия модального окна--------*/
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/*--------Заполнение модального окна--------*/
.modal {
  padding: 40px;
}

.modal__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-header-text-color);
  margin-bottom: 12px;
  display: inline-block;
}

.modal__title-field {
  margin-bottom: 70px;
  margin: 0 auto;
  position: relative;
}

.modal__title-input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: var(--transition);
}

.modal__title-input-link {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-right: 41px;
  padding-left: 39px;
  box-sizing: border-box;
  outline: none;
  background-color: transparent;
  color: teal;
  transition: var(--transition);
}
.modal__title-input-link:focus + .imput-icon {
  fill: var(--second-button-color);
}
.modal__title-input-link:focus {
  border-color: var(--second-button-color);
}
.modal__title-input-link::-moz-placeholder {
  font-size: 14px;
  color: var(--second-header-text-color);
  opacity: 0.7;
}
.modal__title-input-link:-ms-input-placeholder {
  font-size: 14px;
  color: var(--second-header-text-color);
  opacity: 0.7;
}
.modal__title-input-link::placeholder {
  font-size: 14px;
  color: var(--second-header-text-color);
  opacity: 0.7;
}

.modal__title-link-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 10px;
  outline: none;
  resize: none;
  box-sizing: border-box;
  background-color: transparent;
  color: teal;
  transition: var(--transition);
}
.modal__title-link-text:focus {
  border-color: var(--second-button-color);
}
.modal__title-link-text::-moz-placeholder {
  font-size: 14px;
  color: var(--second-header-text-color);
  opacity: 0.7;
}
.modal__title-link-text:-ms-input-placeholder {
  font-size: 14px;
  color: var(--second-header-text-color);
  opacity: 0.7;
}
.modal__title-link-text::placeholder {
  font-size: 14px;
  color: var(--second-header-text-color);
  opacity: 0.7;
}

.modal__title-input-team {
  position: relative;
}

.modal-input::-moz-placeholder, .modal-text::-moz-placeholder {
  font-size: 14px;
  color: var(--second-header-text-color);
  opacity: 0.7;
}

.modal-input:-ms-input-placeholder, .modal-text:-ms-input-placeholder {
  font-size: 14px;
  color: var(--second-header-text-color);
  opacity: 0.7;
}

.modal-input::placeholder,
.modal-text::placeholder {
  font-size: 14px;
  color: var(--second-header-text-color);
  opacity: 0.7;
}

.modal__title-input-team {
  margin-bottom: 10px;
  margin-top: 4px;
}

.modal__title-input-text {
  font-size: 12px;
  color: var(--third-text-color);
}

/*--------Чекбокс--------*/
.modal__check-text-color {
  margin-left: 5px;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--first-header-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__check-text-color {
    font-size: 14px;
  }
}

.modal__check-text {
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.modal__check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid black;
  margin-right: 5px;
  display: block;
  border-radius: 2px;
}
@media screen and (min-width: 1200px) {
  .modal__check-text::before {
    font-size: 14px;
  }
}
.modal-check:checked + .modal__check-text::before {
  background-image: url(../img/check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

.logo {
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-header-text-color);
}

.logo__text {
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-right: 0px;
}
@media screen and (min-width: 1200px) {
  .logo__text {
    margin-right: 0px;
  }
}

.logo__footer {
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
@media screen and (min-width: 1200px) {
  .logo__footer {
    text-align: left;
  }
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__nav-list {
  display: none;
  margin-left: auto;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__nav-list {
    display: flex;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav-list {
    display: flex;
    margin-left: 93px;
  }
}

.header__nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  margin-right: 50px;
  transition: color 250ms linear, cubic-bezier(0.6, -0.28, 0.735, 0.045);
  position: relative;
}

.header__nav-team {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  margin-right: 50px;
  color: black;
}

.header__nav-link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--second-button-color);
  border-radius: 10px;
  position: absolute;
  bottom: -32px;
}

/*.header__nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--second-button-color);
  border-radius: 10px;
  position: absolute;
  bottom: -32px;
}*/
.header__nav-link {
  color: var(--second-text-color);
  transition: var(--transition);
}
.header__nav-link:hover, .header__nav-link:focus {
  color: var(--first-header-text-color);
}

.header__contacts {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
  }
}

.header__contacts-link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  margin: 5px 0;
}
.header__contacts-link:hover, .header__contacts-link:focus {
  color: var(--first-header-text-color);
}
@media screen and (min-width: 1200px) {
  .header__contacts-link {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

.header-list {
  color: var(--third-text-color);
}
.header-list:hover, .header-list:focus {
  color: var(--second-button-color);
}

.header-icon {
  fill: var(--third-text-color);
}
.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

/*----------Мобильное меню-------*/
.container-mob-menu {
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.open-menu__btn {
  background-color: white;
  border: none;
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  color: var(--second-button-color);
}
.open-menu__btn:hover, .open-menu__btn:focus {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .open-menu__btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  background-color: white;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
}

.menu__close-btn {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  color: var(--second-button-color);
}
.menu__close-btn:hover, .menu__close-btn:focus {
  fill: currentColor;
  border: 1px solid var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu__close-btn:hover, .menu__close-btn:focus {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu__close-btn:hover, .menu__close-btn:focus {
    display: none;
  }
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 36px;
}

.mob-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: black;
}

.mob-menu__item--current {
  color: #2196f3;
}

.mob-menu__contacts-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  display: block;
  margin-bottom: 32px;
}

.mob-menu__contacts-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu__social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.container-mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mob-menu-contacts {
  margin-top: auto;
}

.mob-menu__socials {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.mob-menu__socials {
  margin-top: 64px;
}

.social__itemm:first-child {
  padding-left: 0px;
}

.social__itemm {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #ccc;
}
.social__itemm:last-child {
  border-right: none;
}

.hero-right {
  background-color: var(--second-title-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile.img/offic-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  justify-content: center;
  box-sizing: border-box;
  /*min-height: 400px;*/
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero-right {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile.img/offic-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-right {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet.img/offic-tablet-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-right {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet.img/offic-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-right {
    ackground-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desk.img/offic-desk-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero-right {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desk.img/offic-desk-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-right {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-text-color);
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.plan {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .plan {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .plan {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.card-produkt-link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-content {
  flex-grow: 1;
}

.plan-list__item-text {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  max-width: 450px;
  /* @media screen and (min-width: 768px) {
    max-width: 1354px;
  }*/
}
@media screen and (min-width: 1200px) {
  .plan-list__item-text {
    max-width: 270px;
  }
}

.plan-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .plan-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
}
@media screen and (min-width: 1200px) {
  .plan-list {
    flex-wrap: nowrap;
  }
}

.plan-list > .plan-list__item {
  margin: 0 15px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .plan-list > .plan-list__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .plan-list > .plan-list__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-bottom: 0px;
  }
}

.plan-list__item-pre-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .plan-list__item-pre-text {
    text-align: left;
  }
}

/*-------- FOR SVG-------*/
.plan-list__item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .plan-list__item-box {
    width: 270px;
  }
}

/*----------Три фотографии------*/
.pikchers-link {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .pikchers-link {
    display: flex;
  }
}

.pikchers {
  display: flex;
}

.pikchers__link:not(:last-child) {
  margin-right: 30px;
  position: relative;
}

.pikchers__link-wrap {
  position: relative;
}

.pikchers__link-text {
  position: absolute;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  width: 100%;
  padding: 27px 0px;
}

.comand-list {
  margin-bottom: -30px;
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and (min-width: 768px) {
  .comand-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .comand-list {
    flex-wrap: nowrap;
    margin-top: -30px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.comand-list > .comand-list__item {
  margin-top: 30px;
  background-color: var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .comand-list > .comand-list__item {
    margin-top: 30px;
  }
}

.comand-list > .comand-list__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .comand-list > .comand-list__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 30px 15px 0;
  }
}
@media screen and (min-width: 1200px) {
  .comand-list > .comand-list__item {
    width: calc(100% / 4 - 30px);
  }
}

.comand-list__item-people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 10px;
}

.comand-list__item-profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-bottom: 16px;
}

.comand-list__item-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.comand-list__social {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}
.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-title-color);
  color: #afb1b8;
  transition: var(--transition);
}
.social__link:hover, .social__link:focus {
  background-color: var(--second-button-color);
  color: var(--main-title-color);
}

.social__icon {
  fill: currentColor;
}

.comand {
  background-color: #f5f4fa;
  padding-bottom: 60px;
  padding-top: 60px;
  /*background-color: #f5f4fa;
  box-sizing: border-box;*/
}
@media screen and (min-width: 1200px) {
  .comand {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
  }
}

/*----------- Постоянные клиенты---------*/
.client {
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 320px;
  background-color: var(--main-title-color);
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-constant__iteam {
  height: 92px;
  width: 100%;
  display: flex;
  flex-basis: calc(100% / 2 - 30px);
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  /*display: inline;*/
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: var(--transition);
}
.client-constant__iteam:hover, .client-constant__iteam:focus {
  border-color: var(--second-button-color);
}
@media screen and (min-width: 768px) {
  .client-constant__iteam {
    flex-basis: calc(100% / 3 - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .client-constant__iteam {
    max-width: 170px;
    width: 100%;
  }
}

.client-constant {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -30px;
  margin: -15px;
}
@media screen and (min-width: 1200px) {
  .client-constant {
    flex-wrap: nowrap;
  }
}

.client-constant__iteam-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--main-title-color);
  color: #afb1b8;
  transition: var(--transition);
}
.client-constant__iteam-link:hover, .client-constant__iteam-link:focus {
  background-color: var(--main-title-color);
  color: var(--second-button-color);
}

.client-constant__iteam-icon {
  fill: currentColor;
}

/* .client-constant__iteam:not(:last-child) {
  margin-right: 30px;
} */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-title-color);
}

.footer__adress {
  margin-bottom: 60px;
}

.footer-contact {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-top: 20px;
}

.address-header-mailto {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--six-text-color);
}

@media screen and (min-width: 768px) {
  .footer-conteiner__wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-social {
  margin-left: 0px;
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.footer-email {
  text-align: center;
}

.footer-conteiner {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-conteiner {
    text-align: left;
  }
}

.address-header-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--six-text-color);
  margin-top: 90px;
  margin-bottom: 60px;
}

.footer-contact__link {
  margin-bottom: 9px;
}

/* -----FOOTER + DIV---- */
.footer-conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .footer-conteiner {
    width: 603px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-conteiner {
    display: flex;
    align-items: baseline;
    width: 1200px;
  }
}

.footer-social__text {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-text-color);
}
@media screen and (min-width: 1200px) {
  .footer-social__text {
    display: flex;
    margin-top: 0px;
  }
}

.footer-item__list-wrap {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  transition: var(--transition);
  color: 250ms linear, cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.footer-item__list-wrap:hover, .footer-item__list-wrap:focus {
  background-color: var(--second-button-color);
  color: var(--main-title-color);
}

.address-icons-icon {
  fill: currentColor;
}

.footer-item__list {
  width: 44px;
  height: 44px;
}
.footer-item__list + .footer-item__list {
  margin-left: 10px;
}

.footer-item {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-item {
    margin-bottom: 0px;
  }
}

/* ------ FOOTER INPUT --------*/
.footer-email {
  box-sizing: border-box;
  margin: 60px 0 0 auto;
}

.footer-email__item {
  align-items: baseline;
}
@media screen and (min-width: 1200px) {
  .footer-email__item {
    display: flex;
  }
}

.input-mailing {
  width: 450px;
  height: 50px;
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--second-title-color);
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .input-mailing {
    width: 358px;
    margin-bottom: 0px;
  }
}

.address-icons-plane {
  margin-left: 10px;
  fill: var(--main-title-color);
}

.about-our-project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.about-project {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin-top: 4px;
}

.container-card {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .container-card {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container-card {
    width: 1170px;
  }
}

.card-set {
  padding: 0;
  margin: 0;
  margin-left: -30px;
  margin-top: -30px;
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
  }
}

.card-set > .item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .card-set > .item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set > .item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.card-content {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: var(--main-title-color);
  border: 1px solid #eeeeee;
}

.button-nav:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.5;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  box-sizing: border-box;
  transform: translateY(100%);
  transition: var(--transition);
}

.item {
  position: relative;
}
.item:hover .portfolio-text {
  transform: translateY(0);
}
.item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.masters-item-wrap {
  position: relative;
  overflow: hidden;
}

/*.projects__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }*/
/*.container {
  @media screen and (min-width: 1200px) {
    max-width: 435px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 480px) {
    max-width: 480px;
    padding-left: 15px;
    margin: 0 auto;
  }

}*/
/*.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button {
  padding-top: 94px;
  padding-bottom: 94px;
}*/
.btn {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
  flex-wrap: wrap;
  margin-right: -8px;
  border: none;
  /*@media screen and (min-width: 768px) {
    display: flex;
  }*/
}
@media screen and (min-width: 768px) {
  .btn {
    margin-bottom: 40px;
    justify-content: center;
  }
}

.button {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .button {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-nav {
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 15px;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: var(--transition);
}
.button-nav:hover, .button-nav:focus,
.button-nav .active {
  color: var(--first-text-color);
  background-color: var(--second-button-color);
}
@media screen and (min-width: 480px) {
  .button-nav {
    max-width: 435px;
    margin-bottom: 0;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .button-nav {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .button-nav {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */