:root {
  --main-title-color: #ffffff;
  --second-title-color: #2f303a;
  --first-text-color: #ffffff;
  --second-text-color: #212121;
  --third-text-color: #757575;
  --fourth-text-color: #212121;
  --six-text-color: rgba(255, 255, 255, 0.6);
  --first-button-color: #ffffff;
  --second-button-color: #2196f3;
  --first-header-text-color: #2196f3;
  --second-header-text-color: #212121;
  --transition: 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
